<div class="row row-full row-offcanvas row-offcanvas-left">
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row row-full content">
        {% if page.no_version_test %}
        {% else %}
          {% comment %}  HTML file can also be included for test `include test.html` {% endcomment %}
          {% capture test_version %}{% include test.md %}{% endcapture %}
          {{ test_version | markdownify }}
        {% endif %}
        {{ content }}
      </div>
    </div>
  </div>
</div>
