---
---
/* custom template */
html, body {
   height: 100%;
   font-family: 'Open Sans', Tahoma;
   color: #000000;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  height: 100%;
  font-family: 'Open Sans', Tahoma;
}

/* Table options */

table, th, td {
   outline: 1px solid #DEDEDE;
}

table {
  width: 100%;
}

th, td {
  padding: 15px;
  vertical-align: center;
  color: #5b5b5b;
}

tr, tr:nth-child(even) {background-color: #fafafa}

th {
    background-color: #f4f4f4;
}

.nav {
   font-family: 'Open Sans', Tahoma;
   font-size: 13px;
}

a {
  color: #f7ad41;
}

a:hover {
  text-decoration: none;
}

hr {
  border-color: #dedede;
}

.wrapper, .row {
   margin-left: 0;
   margin-right: 0;
}

.wrapper-full, .row-full {
   height: 100%;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

.column {
  height: 100%;
  overflow: auto;
}

.column .padding {
  padding: 20px;
}

.full{
  padding-top: 70px;
}

.box {
  bottom: 0; /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color :#444444;
}

.divider {
  margin-top: 32px;
}


.navbar-blue {
  border-width: 0;
  background-color: #3B5999;
  color: #ffffff;
  font-family: arial,sans-serif;
  top :0;
  position: fixed;
  width: inherit;
}

.navbar-blue li > a,.navbar-toggle  {
  color: #efefef;
}

.navbar-blue .dropdown-menu li a {
  color: #2A4888;
}

.navbar-blue .dropdown-menu li > a {
  padding-left: 30px;
}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
  background-color: #2A4888;
  color: #fff;
}

#main {
  background-color: #ffffff;
  padding-left :0;
  padding-right: 0;
  overflow: auto;

}
#main .img-circle {
  margin-top: 18px;
  height: 70px;
  width: 70px;
}

#main .footer {
  position: relative;
  clear: both;
}

#sidebar {
  padding: 0px;
  overflow: hidden;
}

#split-bar {
  position: fixed;
  display: table;
  width: 5px;
  height: 100%;
  background: #dcdcdc;
  cursor: ew-resize;
  z-index: 10;
}

#split-bar-dots {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #717171;
  font-size: 20px;
  line-height: 0.5;
}

@media screen and (max-width: 768px) {
  #sidebar, #search {
    width: 8.33333333% !important;
  }

  #main {
    width: 91.66666667% !important;
  }

  #split-bar {
    display: none;
  }

  .row-offcanvas-left.active #sidebar.sidebar-offcanvas {
    width: 33% !important;
  }

  .row-offcanvas-left.active #search {
    width: 33% !important;
  }
}

#sidebar, #sidebar a, #sidebar-footer a {
  color: #ccc;
  background-color: #4b4b4b;
  font-weight: 800;
}

#markdown-toc {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1px;
  margin-bottom: 20px;
}

#markdown-toc, #markdown-toc ol, #markdown-toc ul {
  list-style-type: none !important;
}

#markdown-toc ol, #markdown-toc ul {
  padding-left: 20px;
}

#sidebar .nav li>a:hover {
  background-color: #f7ad41!important;
  color: #393939;
}

#sidebar .nav > li > .dropdown-menu {
  background-color: #4b4b4b!important;
}

#sidebar .nav li.menu-selected a {
  background-color: #f7ad41 !important;
  color: #393939;
}
#sidebar .nav > li> .menu-has-child {
  color: #ccc;
}

#sidebar .nav > li> .li-0 {padding-left:5px;}
#sidebar .nav > li> .li-1 {padding-left:15px;}
#sidebar .nav > li> .li-2 {padding-left:25px;}
#sidebar .nav > li> .li-3 {padding-left:35px;}
#sidebar .nav > li> .li-4 {padding-left:45px;}
#sidebar .nav > li> .li-5 {padding-left:55px;}

#sidebar .nav > .sidebar-header {
  color: #f7ad41;
}

#sidebar .sidebar-navigation-container {
  overflow: auto;
  position: absolute;
  top: 287px; /* 139(kaa logo height) + 148(title+version height) */
  left: 0;
  bottom: 0;
  right: 0;
}

#sidebar .sidebar-navigation-container::-webkit-scrollbar {
  width: 8px;
}

#sidebar .sidebar-navigation-container::-webkit-scrollbar-thumb {
  background: gray;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.logo {
  display: block;
  background-color: #ffffff;
}

#sidebar-footer {
  background-color: #444444;
  position:absolute;
  bottom: 5px;
  padding: 5px;
}

#footer {
  margin-bottom: 20px;
}

/* bootstrap overrides */

h1, h2, h3 {
  font-weight: 800;
}

.navbar-toggle, .close {
  outline: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.btn {
  padding: 6px 4px;
}

.btn-primary {
  color: #666666;
  background-color: transparent;
  border: none;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary.active, .btn-primary:active, .btn-primary.active:focus, .btn-primary:focus, .btn-primary.active:hover, #btnShowfeedbackForm, #feedbackSubmit, .feedback-close {
  color: #fff;
  background-color: #f7ad41;
  border: none;
}

.btn-default {
  color: #666666;
  text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control:focus {
  border-color: #f7ad41;
  box-shadow: inset 0 1px 1px #f7ad41, 0 0 8px #f7ad41;
}

.popover {
  position: fixed;
  max-width: 300px;
  text-align: center;
}

#btnShowfeedbackForm {
  position: fixed;
  right: 0px;
  bottom: 35px;
  z-index: 1060;
  transform: rotate(-90deg);
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top;
}

.panel textarea, .well textarea, textarea.form-control {
  resize: none;
}

.badge {
  color:#3B5999;
  background-color: #fff;
}

.badge:hover, .badge-inverse {
  background-color: #3B5999;
  color: #fff;
}

.jumbotron {
  background-color: transparent;
}

.label-default {
  background-color: #dddddd;
}

.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top: 1px solid #eeeeee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.panel-default .panel-heading {
  background-color: #f9fafb;
  color: #555555;
}

.col-sm-9.full {
  width: 100%;
}

.modal-header, .modal-footer {
  background-color: #f2f2f2;
  font-weight: 800;
  font-size: 12px;
}

.modal-footer i, .well i {
  font-size: 20px;
  color: #c0c0c0;
}

.modal-body {
  padding: 0px;
}

.modal-body textarea.form-control
{
  resize: none;
  border: 0;
  box-shadow: 0 0 0;
}

small.text-muted {
  font-family: courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {
  .column .padding {
    padding: 7px;
  }

  .full{
    padding-top: 20px;
  }

  .navbar-blue {
    background-color: #3B5999;
    top: 0;
    width: 100%;
    position: relative;
  }
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left: 0px;
  }

  #sidebar .nav a{
    padding-left: 10px;
  }
}

/* custom css */
/* footer */
/* sticky footer */
#page-content-wrapper {
  min-height: 100%;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.container-fluid {
  padding: 40px;
  max-width: 1200px;
  overflow: auto;
  padding-bottom: 160px; /* must be same height as the footer */
}

.footer {
  position: relative;
  margin-top: -160px; /* negative value of footer height */
  height: 160px;
  clear: both;
}

.footer p {
  margin-top: 100px;
  margin-bottom: 0;
  line-height: 60px;
  text-align: center;
  background-color: #f6f6f6;
}

/* sticky footer */

.footer a {
  color: #666;
}

.footer a:hover {
  color: #f7ad41;
}
/* footer */

/* content */
#sidebar li, p, li {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #5b5b5b;
}

h1 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #5b5b5b;
}

#sidebar h2, h2, .info_title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
  color: #5b5b5b;
}

h3 {
  font-size: 22px;
  color: #5b5b5b;
}

h4 {
  font-weight: 800;
  margin-top: 20px;
  color: #5b5b5b;
}

iframe {
  display: block;
  margin: 20px auto;
}

li img {
  transform: translateX(-20px);
}

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  width: auto;
  margin: 20px auto;
  display: block;
  max-height: 600px; /*for really big images*/
}

button.collapse_control {
  border: none;
  border-radius: 0;
  outline: none;
  background: #f7ad41;
  color: #fff;
  padding: 5px 10px;
  padding-right: 17px;
  font-family: 'Open Sans', Verdana;
  position: relative;
  width: 120px;
}

button.collapse_control.more {
  margin-top: 10px;
}

button.collapse_control:before {
  content: "";
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: 13px;
}

button.collapse_control.more:before {
  border-top: 5px solid #fff;
  border-bottom: 0px;
}

.featherlight img {
  max-height: initial;
}

.content img {
  cursor: pointer;
}

/* quote */
blockquote {
  padding: 15px 20px 15px 15px;
  border-left: 5px solid #F7AD41;
  background: #FFF2DF;
  position: relative;
  font-size: 16px;
}

blockquote:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 10px;
  width: 40px;
  height: 36px;
  display: block;
}

blockquote table {
  outline: 2px solid #FFF2DF;
}

blockquote.note {
  padding: 15px 20px 15px 50px;
  border-left: 5px solid #72cb66;
  background: #eaf7e8;
}

blockquote.note:before {
  background-image: url('{{ site.baseurl }}/public/notes/note.png');
}

blockquote.note table {
  outline: 2px solid #eaf7e8;
}

blockquote.tip {
  padding: 15px 20px 15px 50px;
  border-left: 5px solid #4650ad;
  background: #ecedf7;
}

blockquote.tip:before {
  background-image: url('{{ site.baseurl }}/public/notes/tip.png');
}

blockquote.tip table {
  outline: 2px solid #ecedf7;
}

blockquote.important {
  padding: 15px 20px 15px 50px;
  border-left: 5px solid #F7AD41;
  background: #FFF2DF;
}

blockquote.important:before {
  background-image: url('{{ site.baseurl }}/public/notes/important.png');
}

blockquote.important table {
  outline: 2px solid #FFF2DF;
}

blockquote.caution {
  padding: 15px 20px 15px 50px;
  border-left: 5px solid #f22f2f;
  background: #feeaea;
}

blockquote.caution:before {
  background-image: url('{{ site.baseurl }}/public/notes/caution.png');
}

blockquote.caution table {
  outline: 2px solid #feeaea;
}
/* quote */

/* tables */
table {
  margin: 20px auto;
  outline: 2px solid white;
}

td, th {
  font-size: 16px;
}
/* tables */

/* tabs */
.nav-tabs {
  font-size: 22px;
  font-weight: 800;
  color: #666;
  border-bottom: 2px solid #f7ad41;
}

.nav-tabs>li {
  background: #f6f6f6;
  margin-bottom: 0 !important;
}

.nav-tabs>li>a {
  color: #666;
  text-align: center!important;
  padding: 10px 15px!important;
  min-width: 60px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  background-color: #f7ad41;
}

pre, .nav-tabs>li>a {
  margin-right: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

/* tabs */
/* content */

/* sidebar*/
.logo img {
  transform: initial;
  max-width: 100% !important;
  margin: 20px auto 0;
  border-radius: 8px;
}

#sidebar .logo {
  padding: 0px 15px;
}

#sidebar .nav .logo:hover {
  background-color: transparent !important;
}

/* Search */
#search {
  position: fixed;
  bottom: 0;
  background: #4b4b4b;
  width: 16.66666667%;
}

#search input {
  width: 84%;
  margin: 13px 8%;
  padding: 6px 6px 6px 40px;
  background: url('{{ site.baseurl }}/public/search.png') #434343;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: center;
  background-position-x: 5px;
  font-size: 16px;
  border: none;
  font-family: 'Open Sans';
}

#sidebar {
  height: calc(100% - 60px);
}

@media screen and (max-width: 768px) {
  #search {
    width: 33%;
  }

  #search input {
    visibility: hidden;
  }

  .active #search input {
    visibility: visible;
  }
}
/* Search results */
#search-results {
  padding-left: 0;
  list-style: none;
}

#search-results li {
  background: #f2f2f2;
  padding: 1px 20px 15px;
  margin: 10px 0;
}

#search-results li p {
  text-align: left;
}

.search .btn-default {
  background: #f7ad41;
  color: #fff;
  font-weight: 800;
  border: none;
  border-radius: 0;
}

.search .btn-default:active {
  border: none;
  background: #4b4b4b;
  color: #fff;
  outline: none;
}

.search #search-box {
  background: #f2f2f2;
  color: #5b5b5b;
  font-weight: 800;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: -2px;
}

.search #version-select,#search-version-select {
  position: relative;
  height: 34px;
  background: #f2f2f2;
  border: 0;
  color: #5b5b5b;
  font-weight: 800;
  padding-left: 12px;
  padding-right: 30px;
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background: url('{{ site.baseurl }}/public/drop-down.png') no-repeat right #f2f2f2;
}

.search #version-select:before {
  content: "";
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #5b5b5b;
  width: 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: 13px;
}

.search #version-select:focus, .search #search-box:focus, .search .btn-default:focus {
  outline: none;
}

/* Search results */
/* Search */
/* navigation*/

#sidebar a {
  background: none;
}

.li-1, .li-2, .li-3, .li-4, .li-5, .li-6 {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #d5d5d5;
}

li.menu-opened + ul {
  max-height: 2800px;
  transition: max-height 0.25s ease-in;
}

#sidebar h2, #sidebar h4 {
  color: #f7ad41;
  text-align: center;
  font-weight: 800;
}

#sidebar .nav ul {
  list-style: none;
  padding-left: 0;
}

.nav li a {
  padding: 10px 5px;
  text-align: left;
  display: block;
}

#sidebar .nav > li a {
  text-align: initial;
  padding-left: 20px;
}

#sidebar .sidebar-navigation-container > li > a {
  padding-left: 20px;
}

#sidebar .nav > .li-1 a {
  padding-left: 27px;
  background-color: #3c3c3c;
}

#sidebar .nav > .li-1 > .li-2 a {
  padding-left: 44px;
  background-color: #333333;
}

#sidebar .nav > .li-1 > .li-2 > .li-3 a {
  padding-left: 62px;
  background-color: #2f2f2f;
}

#sidebar .nav > .li-1 > .li-2 > .li-3 > .li-4 a {
  padding-left: 79px;
}

#sidebar .nav > .li-1 > .li-2 > .li-3 > .li-4 > .li-5 a {
  padding-left: 96px;
}

.caret {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px dashed;
  margin: 0px 4px 3px;
  transform: rotate(0deg) translate(0px, 0px);
  transition: transform 0.25s linear;
}

.car-field {
  margin-left: -16px;
}

.collapser {
  border-bottom: 2px solid #f7ad41;
}

.collapser > :first-child {
  cursor: pointer;
}

.collapser > :first-child:after {
  content: '+';
  margin-left: 5px;
  color: #f7ad41;
}

.collapser.opened > :first-child:after {
  content: '-';
  margin-left: 9px;
  color: #f7ad41;
}

.collapser > :nth-child(n+2) {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}

div[class=collapser] > :nth-child(n+2) {
  margin: 0;
}

.car-field:hover .caret {
  transform: rotate(90deg) translate(2px, 2px);
  transition: transform 0.25s linear;
}

.dropdown-toggle .caret, .menu-opened .caret {
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: 0px 6px 0px 2px;
}

.dropdown-toggle .car-field:hover .caret, .menu-opened .car-field:hover .caret {
  transform: initial;
  transition: none;
}

.dropdown-toggle .caret {
  margin: 4px 4px 0px;
}

/* navigation*/
/* sidebar drop-down */

.dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
}

#sidebar .nav > li  a.dropdown-toggle {
  text-align: center !important;
  max-width: 164px;
  margin: 0 auto;
  background-color: #434343 !important;
  color: #f7ad41 !important;
  margin-bottom: 10px;
  font-weight: 800;
}
/* sidebar drop-down */
/* sidebar*/

.sandbox_header .submit {
  color: #000;
  padding: 4px 6px;
}

.container .footer {
  height: initial;
}

.container .footer h4 {
  font-size: 14px;
  margin: 0;
}

.path a {
  color: #ccc !important;
}

table p {
  text-align: initial !important;
}

.sandbox_header .submit {
  color: #000;
  padding: 4px 6px;
}

.container {
  width: 100%;
  max-width: 1160px;
}

.footer p {
  font-size: 16px;
}

/* custom end */
/* rest api */

.content .push-right {
  float: right;
  margin: 0 0 10px 10px;
}

.content .push-left {
  float: left;
  margin: 0 10px 10px 0;
}

.middle-width {
  max-width: 600px;
}

.small-width {
  max-width: 300px;
}
